.main {
  display: flex;
  flex-direction: column;
}

.banner{
  padding: 30px 0 100px;
 background-color: whitesmoke;
}
.banner__img-wrapper {
  width: 90%;
  position: relative;
  margin: 0 auto;
  display: flex;
}

.banner__img-overlay {
  background-image: linear-gradient(0deg, rgba(0, 0, 6, 0.8), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.banner__img {
  width: 100%;
  box-shadow: 20px 20px 20px 0px rgb(115 110 84 / 81%);
  border-radius: 5px;
}

.banner__img-footer {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  font-size: 11px;
  text-align: left;
  padding-left: 10px;
}

.banner__content {
  width: 25%;
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: 2;
}

@media screen and (max-width: 1140px) {
  .banner__content {
    width: 40%;
    left: 30%;
    top: 0;
  }
}

.banner__content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: whitesmoke;
}

@media screen and (max-width: 1050px) {
  .banner__content-title {
    font-size: 25px;
  }
}

.banner__content-txt {
  color: whitesmoke;
}

@media screen and (max-width: 1050px) {
  .banner__content-txt {
    font-size: 10px;
  }
}

.banner__bttn{
background-color: whitesmoke;
padding: 10px;
text-decoration: none;
color: black;
border-radius: 10px;
}

@media screen and (max-width: 1050px) {
  .banner__bttn {
    font-size: 10px;
  }
}

